.resolution {
	position: relative;
	display: flex;
	justify-content: space-around;
	width: 90%;
	margin-left: 10px;

	&-item {
		position: relative;
		display: flex;
		width: 50%;
		align-items: center;
		margin-right: 10px;
		&-label {
			margin-right: 2px;
			width: 100%;
			flex: 2;
			overflow: hidden;
			font-size: 12px;
			white-space: nowrap;
			vertical-align: middle;
		}

		&-input {
			background: #ddd;
			width: 100%;
			flex: 3;
			font-size: 13px;
			padding: 2px 0px;
			text-align: center;
			
			&::-webkit-inner-spin-button {
				opacity: 1;
			}
		}
	}
}