.resolution {
	position: relative;
	display: flex;
	width: 84%;

	&-item {
		position: relative;
		display: flex;
		width: 50%;
		margin-right: 10px;
		align-items: center;

		&-label {
			margin-right: 10px;
			width: 15%;
			overflow: hidden;
			font-size: 12px;
			white-space: nowrap;
			vertical-align: middle;
		}

		&-input {
			background-color: #CCC;
			width: 70%;
			font-size: 15px;
			padding: 2px 0px;
			text-align: center;
			
			&::-webkit-inner-spin-button {
				opacity: 1;
			}
		}
	}
}