.controlPanel {
	position: relative;
	width: $panelSize;
	height: 100%;
	background-color: #111;
	overflow-y: scroll;

	color: #888;
	
	&-inner{
		position: relative;
		padding: 20px 15px;
	}
	
}

.paramGroup{
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgb(49, 49, 49);	
	&-label{
		position: relative;
		margin-bottom: 10px;
		border-bottom: 1px;
		font-size: 15px;
		color: #BBB;

	}
	&-items{
		position: relative;
		margin-left: 7px;
		margin-bottom: 5px;
	}
}