.inputItem {
	pointer-events: auto;
	width: 100%;
	margin-bottom: 10px;
	&-label {
		font-size: 14px;
		color: #AAA;
		margin-bottom: 2px;
	}

	&-value[type="range"] { 
		margin: auto;
		-webkit-appearance: none;
		position: relative;
		overflow: hidden;
		height: 12px;
		width: 100%;
		cursor: pointer;
		border-radius: 0; /* iOS */
	}
	
	&-value::-webkit-slider-runnable-track {
		background: #ddd;
	}
	
	&-value::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 40px;
		background: #fff;
		box-shadow: -100vw 0 0 100vw rgb(28, 126, 255);
		border: 2px solid #999; /* 1 */
	}
}