.inputItem {
	pointer-events: auto;
	width: 100%;
	margin-bottom: 10px;
	
	&-label {
		font-size: 14px;
		color: #AAA;
		margin-bottom: 2px;
	}

	&-value{

		&-wrapper{
			display: flex;
			justify-content: space-between;
		}

		&-viewer {
			overflow: hidden;
			position: relative;
			width: 20%;
			margin-left: 5px;
			padding: 0px 5px;
			border-radius: 2px 2px;
			// background-color: #090909;
			font-size: 13px;
			color: #666;
		}

	}
	
	&-value[type="range"] { 
		margin: auto;
		-webkit-appearance: none;
		position: relative;
		overflow: hidden;
		height: 12px;
		width: 100%;
		cursor: pointer;
		border-radius: 0; /* iOS */
	}
	
	&-value::-webkit-slider-runnable-track {
		background: #ddd;
	}
	
	&-value::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 40px;
		background: #fff;
		box-shadow: -100vw 0 0 100vw rgb(28, 126, 255);
		border: 2px solid #999; /* 1 */
	}
}